h2{
color:red;
}


nav span{
color:white;
}

/* ---------------- MESSAGES DE CONFIRMATION ----------------- */

.confirmOk, .confirmNok{
display:flex;
justify-content: center;
}


.confirmOk > div{
background-color:green;
color:white;
padding:10px;
border-radius:5px;
display:inline-block;
}

.confirmNok > div{
background-color:red;
color:white;
padding:10px;
border-radius:5px;
display:inline-block;
}