@font-face {
  font-family: 'avenir';
  src: url('../typo/avenir.ttc');
  font-weight: normal;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "avenir";
  width: 100%;
  min-height: 100%;
}

a {
  text-decoration: none;
}

audio {
  visibility: hidden;
  height: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

/* -------------------- PAGE : HOME -------------------- */

/* ---------- header ---------- */

.home {
  background: linear-gradient(
    rgba(37,43,52,0.35),
    rgba(37,43,52,0.4)
    ),url(../img/home.png) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  position: relative;
  z-index: 1;
}

.home nav {
  width: 92%;
  margin: auto;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.home nav a {
  display: flex;
}

.home nav img {
  height: 80px;
}

.home nav i {
  color: white;
  font-size: 15px;
  transition-duration: 0.4s;
}

.home nav i:hover {
  color: #C802C9;
}

.home nav > div:last-child {
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.header-RS + div {
  display: flex;
}

.header-RS {
  display: flex;
}

.header-RS + div > a:first-child {
  margin-right: 7px;
}

.header-RS + div button {
  box-shadow: none !important;
}

.header-RS a {
  margin-left: 16px;
}

.button {
  height: 45px;
    width: 150px;
    font-size: 12px;
    font-weight: 400;
    color: white;
    border: 0;
    cursor: pointer;
    outline: none;
  border-radius: 5px;
  box-shadow: 1px 3px 6px #c1c1c1; 
}

.create-music {
  background-color: #ACD003;
  transition-duration: 0.5s;
}

.create-music:hover {
  background-color: #c1e808;
}

.music-space {
  background-color: #C802C9;
  transition-duration: 0.5s;
}

.music-space:hover {
  background-color: #eb08ec;
}

.home > div#mainTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
}

.home h1 {
  color: white;
  width: 500px;
  font-size: 35px;
  text-align: center;
}


/* ---------- player home ---------- */

.player {
  height: 60px;
  background-color: white;
  opacity: 0.9;
  position: relative;
  z-index: 2;
  top: -60px;
  overflow: hidden;
}

.player > div {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 60px;
  margin: auto;
  position: relative;
    top: -22px;
}

.player > div > div {
  display: flex;
  align-items: center;
  width: 30%;
}
.player-middle {
  width: 40% !important;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  transition-duration: 0.4s;
  border-bottom: 1px solid lightgrey;
  opacity: 0.93;
}

/* gauche */

.player img {
  height: 50px;
  width: 55px;
}

.player-left > div:nth-child(2) {
  margin-left: 8px;
  width: 130px;
}

.player-left > a {
  display: flex;
}

.player-left > div:nth-child(2) > div {
  font-size: 12px;
}

.player-left > div:nth-child(2) > div:first-child {
  font-weight: bold;
}

.player-left i {
  margin: 3px;
}

.player i {
  font-size: 14px;
  color: black;
  transition-duration: 0.4s;
  cursor: pointer;
}

.player i:hover {
  color: #C802C9;
}

.button-vol {
  width: 20%;
}

.button-vol i {
  font-size: 22px !important;
}

.button-pm {
  width: 10%;
}

.button-pm {
  flex-direction: column;
  justify-content: center !important;
}

.button-pm button {
  margin: 2px !important;
}

/* milieu */

.player-middle > div:last-child {
  width: 100%;
  border-bottom: 2px solid lightgrey;
  position: relative;
  z-index: 2;
}

.progress_value {
  border-bottom: 2px solid black;
  position: relative;
  z-index: 1;
}

/* droite */

.player-right > div {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.player-right > div:first-child {
  width: 70%;
}


.player-right i {
  margin-left: 8%;
}

.player-right > div > button:nth-child(3) > i {
  font-size: 19px;
}

.player-right > div > button:nth-child(4) > i {
  font-size: 19px;
}

.player-right > div > button:nth-child(2) > i, .player-right > div > button::nth-child(4) > i {
  font-size: 16px;
}

.player-right button {
  border: none;
  outline: none;
  margin: 4px;
  background-color: transparent;
}

.controls_btns button.hidden {
    display: none;
}

.controls_btns + div button.hidden {
  display: none;  
}

/* ---------- RESPONSIVE ---------- */

/* PHONE */

@media only screen 
and (min-device-width : 360px) 
and (max-device-width : 667px) {
  .header {
    width: 100%;
  }

  .home nav {
    flex-direction: column !important;
  }

  .home nav a {
    justify-content: center;
  }

  .home nav > div:last-child {
    align-items: center;
  }

  .header-RS + div {
    position: relative;
    top: 255px;
  }

  .home > div#mainTitle {
    height: 30%;
  }

  .header-RS a {
    margin: 13px;
  }

  .musician-line {
    display: block !important;
    overflow: auto;
    white-space: nowrap;
  }

  .musician-line > div {
    display: inline-block;
  }



  .discover > div > div:first-child {
    width: 100% !important;
    align-items: center;
    text-align: center;
  }

  .musician > div:last-child {
    padding-bottom: 50px !important;
  }

  .discover {
    height: 360px !important;
  }
  .discover > div {
    height: 360px !important;
  }

  footer {
    flex-direction: column;
    height: auto !important;
  }

  footer > div:first-child {
    padding: 20px 0!important;
    width: 90% !important;
    margin: auto !important;
  }

  footer > div:last-child{
    width: 100% !important;
   padding: 0 !important;
  }

  footer > div:last-child form {
    margin: 0 !important;
    padding-right: 5%;
    padding-left: 5%;
  }

  footer > div:first-child > div:nth-child(2) {
    margin: 0 !important;
  }

  footer > div:first-child > div:last-child {
    margin: 0 !important;
  }

  .player-middle {
    display: none !important;
  }

  .player img {
    display: none;
  }

  .player > div > div:first-child {
    width: 35%;
    flex-direction: row-reverse;
  }

  .player > div > div:last-child {
    width: 65%;
  }

  .player > div > div:last-child button {
    margin: 1px;
  }

  .img-discover {
    display: none !important;
  }

}

/* IPAD */

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
  .musician-line {
    display: block !important;
    overflow: auto;
    white-space: nowrap;
  }

  .musician-line > div {
    display: inline-block;
  }

  .player-middle {
    width: 32% !important;
  }

  .img-discover {
    display: none !important;
  }

  .discover > div > div {
    width: 100% !important;
    align-items: center;
    text-align: center;
  }
}


/* ---------- section 1 : musiciens ---------- */

.musician {
  width: 90%;
  margin: auto;
}

h2 {
  font-size: 22px;
  text-align: center;
  margin:0;
}

h2 + p {
  font-size: 14px;
  text-align: center;
  margin-top: 8px;
}

/* photos */
.musician-line {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.musician-line > div {
  width: 240px;
  height: 200px;
}

.musician-line img {
  width: 240px;
  height: 200px;
}

.musician > div:last-child {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 80px;
}


/* animation sur les images du menu */
.anim-img {
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0;
    width: 100%;
    color: #ffffff;
    font-size: 16px;
  text-align: left;
  outline: none;
}
.anim-img * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.anim-img:before {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  top: 100%;
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}
.anim-img img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
  width: 100%;
}
.anim-img figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.anim-img span,
.anim-img .content-anim {
  margin: 0;
  opacity: 0;
  letter-spacing: 1px;
}
.anim-img span {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  text-transform: uppercase;
  font-weight: 400;
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  margin-bottom: 5px;
}
.anim-img .content-anim {
  font-weight: normal;
  padding: 3px 10px;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  margin-top: 50px;
  font-size: 16px;
  width: 100%;
  height: 45px;
  color: white;
}

.anim-img:hover:before,
.anim-img.hover:before {
  top: 0px;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.anim-img:hover span,
.anim-img.hover span,
.anim-img:hover .content-anim,
.anim-img.hover .content-anim {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
.anim-img:hover span,
.anim-img.hover span {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.anim-img:hover .content-anim,
.anim-img.hover .content-anim {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.anim-img span button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  padding: 0px 40px 0px 40px;
}

.anim-img span button.hidden {
  display: none;
}

.anim-img span button i {
  font-size: 30px;
}

.content-anim {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-anim > div {
  font-size: 12px;
}

.content-anim  i {
  font-size: 14px !important;
  cursor: pointer;
  padding-left: 5px;
}

.name-mus {
  font-weight: bold;
}

.anim-img i {
  transition-duration: 0.3s;
}

.anim-img i:hover{
  color: #C802C9;
}

.img-discover {
  background: url(../img/music.png);
  background-size: contain;
  background-attachment: fixed;
  background-position: right;
}

/* ---------- section 2 : decouvrir ---------- */

.discover {
  background-color: #F5F7FA;
  height: 500px;
}

.discover > div {
  width: 90%;
  height: 500px;
  margin: auto;
  display: flex;
  align-content: center;
}

.discover > div > div {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.discover h2 {
  text-align: left !important;
}

.discover h2 + div {
  line-height: 22px;
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 14px;
}



/* ---------- section 2 : decouvrir ---------- */

.check-in {
  height: 350px;
}
.check-in > div {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 350px;
}

.check-in button {
    margin-top: 40px;
}


/* ---------- footer ---------- */

footer {
  height: 300px;
  background-color: #16191F;
  display: flex;
  justify-content: space-between;
}

footer a {
  color: white;
  transition-duration: 0.4s;
}

footer a:hover {
  color: #C802C9;
}

footer > div:first-child {
  width: 65%;
  padding-left: 5%;
  padding-top: 40px;
}

footer > div:first-child > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  color: white;
  font-weight: 200;
  font-size: 12px;
  padding-top: 16px;
  height: 55%;
    border-bottom: 1px solid white;
    margin-right: 30px;
}

footer > div:first-child > div:last-child {
  color: white;
  font-weight: 200;
  font-size: 12px;
  padding-top: 16px;
  margin-right: 30px;
  display: flex;
  justify-content: space-between;
}

footer img {
  width: 120px;
}

footer > div:last-child {
  width: 35%;
  padding-right: 5%;
  background-color: #25282D;
  height: 300px;
}

.contact > div {
  padding-bottom: 10px;
}

.next-pages > div {
  padding-bottom: 10px;
  text-align: end;
}

.footer-RS a {
  padding-left: 8px;
  transition-duration: 0.4s;
}

.footer-RS a:hover {
  color: #C802C9;
}

footer form {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

footer input {
  height: 20px;
  background-color: #25282D;
  border: 0;
  border-bottom: 1px solid white;
  outline: none;
  padding-bottom: 5px;
  margin-bottom: 8px;
  color: white;
}

footer input:focus {
  border-bottom: 1px solid #C802C9;
}

footer textarea {
  height: 70px;
  border: 0;
  background-color: #25282D;
  border-bottom: 1px solid white;
  outline: none;
  resize: none;
  color: white;
}

footer textarea:focus {
  border-bottom: 1px solid #C802C9;
}

footer label { 
  color: white;
  padding-bottom: 10px;
}

footer button {
  height: 45px;
    width: 160px;
    font-size: 10px;
    font-weight: 400;
    color: white;
    border: 0;
    cursor: pointer;
    background-color: #25282D;
    border: 1px solid white;
    transition-duration: 0.4s;
    outline: none;
    margin-top: 16px;
    border-radius: 5px;
}

::-webkit-input-placeholder {
  color: lightgrey;
  font-size: 10px;
}


/* -------------------- PAGE : MIXTE MELOMANE MUSICIEN -------------------- */

.melomane {
  display: flex;
}

/* ---------- Aside ---------- */

.aside-melomane {
  background-color: #16191F ;
  height: 100%;
  width: 18%;
  position: fixed;
}

.aside-melomane > div:first-child {
  padding: 30px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aside-melomane > div:first-child img {
  width: 75%;
}

.aside-melomane > div:first-child i {
  color: white;
  font-size: 23px;
}

.aside-melomane ul li a img {
  width: 20px;
  padding-right: 20px;
}

.aside-melomane ul li a {
  color: white;
  height: 65px;
  display: flex;
  align-items: center;
  padding: 0px 30px;
  transition-duration: 0.4s;
}

.aside-melomane ul li a:hover {
 background-color: #25282D;
 border-right: 3px solid #C802C9;
}

.aside-melomane ul li a:focus {
  background-color: #25282D;
  border-right: 3px solid #C802C9;
}

.aside-mus ul li a:hover {
  border-right: 3px solid #ACD003 !important;
}

.aside-mus ul li a:focus {
  border-right: 3px solid #ACD003 !important;
}

.aside-melomane span {
  font-size: 15px;
}

/* ---------- Search barre ---------- */

.melomane main {
  width: 82%;
  margin-left: 18%;
  position: absolute;
    z-index: 1;
    height: 100%;
}

.head-melomane {
  width: 82%;
    padding-top: 20px;
    background-color: white;
  position: fixed;
  z-index: 5;
}

.head-melomane > div:first-child {
  display: flex;
  justify-content: space-between;
  width: 95%;
    margin: auto;
}

.head-melomane > div:first-child div {
  width: 100%;
}

.head-melomane > div:first-child input {
  width: 96%;
  border: 0;
  border-bottom: 1px solid black;
  padding: 16px 0px 10px 0px;
  outline: none;
  font-size: 15px;
}

.head-melomane > div:first-child input::placeholder {
  font-size: 14px;
  font-weight: 300;
}

.head-melomane > div:first-child i {
  position: relative;
  right: 20px;
}

.head-melomane > div:last-child {
  padding-top: 10px;
  width: 95%;
  margin: auto;
  padding-bottom: 10px;
}

.head-melomane > div:last-child button {
  width: 70px;
  height: 35px;
  margin-right: 5px;
  background-color: white;
  border-radius: 5px;
  font-size: 12px;
  outline: none;
  cursor: pointer;
  border-style: none;
    border: 0.5px solid lightgray;

}

.melomane main > section{
  margin-top: 140px;
  
}

/* ---------- Player2 mélomane - musicien ---------- */

.player2 {
  height: 60px;
    background-color: white;
    opacity: 0.9;
    position: fixed;
    z-index: 2;
  overflow: hidden;
  width: 100%;
  bottom: 0;
  border-top: 1px solid lightgrey;
}

.player2 > div {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 60px;
  margin: auto;
  position: relative;
}

.player2 > div > div {
  display: flex;
  align-items: center;
  width: 30%;
}

.player2 img {
  height: 50px;
  width: 55px;
}

.player2 i {
  font-size: 14px;
  color: black;
  transition-duration: 0.4s;
  cursor: pointer;
}

.player2 i:hover {
  color: #C802C9;
}

.player2bis > div {
  top: -22px;
}
/* -------------------- PAGE : MELOMANE -------------------- */

/* 1) Tous les artistes */

.list-artist {
  margin-bottom: 100px;
}

.ligne-artiste {
  height: 210px;
  margin-top: 22px;
  margin-left: 2%;
}

.ligne-artiste h2 {
  text-align: left;
  margin-bottom: 10px;
}
.artists {
  
  overflow: auto;
    white-space: nowrap;
}
.artists > div {
  height: 160px;
    width: 190px;
  background-color: white;
  display: inline-block;
  margin-right: 10px;
}

.artists img {
  height: 160px;
}

.artists .anim-img .content-anim {
  margin-top: 30px !important;
}

/* 2) Bandes sons collab */

.sound-band {
  margin-bottom: 100px;
}


.tooltip {
  position: relative;
  display: inline-block;

}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 178px;
  background-color: rgba(201, 2, 201, 0.658);
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 7px 0;
  position: absolute;
  z-index: 1;
  bottom: 13px;
  right: -8px;
  font-size: 12px;
  font-family: 'avenir';
  text-transform: initial;
  font-weight: bold;
}

  .tooltip:hover .tooltiptext {
    visibility: visible;
}

/* 3) Mes playlists */

.playlist .button {
  margin-bottom: 20px;
  margin-top: 10px;
}

.playlist .artists {
  overflow: hidden;
  white-space: normal;
  margin-bottom: 100px;
}

.playlist .artists > div {
  margin-top: 20px;
}

/* 3) Mon compte */

.account {
  margin: 0 !important;
}

.account > div {
  margin-left : 2%;
  margin-right: 2%;
  margin-top: 22px;
}

.account h2 {
  border-bottom: 0.5px solid #efefef;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.account form {
  margin-left: 2%;
  margin-right: 2%;
  align-items: flex-start;
  margin-bottom: 0;
}

.btn-primary {
  background-color: #ACD003 !important;
  border: none !important;
  cursor: pointer;
}

.btn {
  font-family: "avenir" !important;
}

.btn-primary:hover {
  background-color: #c1e808 !important;
}

.btn-danger {
  background-color: #C802C9 !important;
  border: none !important;
  cursor: pointer;
}

.btn-danger:hover {
  background-color: #eb08ec !important;
}

.account h2 {
  text-align: left;
}

.account img {
  height: 60px;
  width: auto;
  text-align: left !important;
}

.account form select {
  width: 50%;
  height: 38px;
  border: 1px solid lightgray;
  background: transparent;
  font-size: 14px;
}

.account img {
  display: none;
}
/* -------------------- PAGE : MUSICIEN -------------------- */

/* 1) mes créa */

.my-crea .anim-img i:hover {
  color: #ACD003;
}

.my-crea .anim-img .tooltip .tooltiptext {
  background-color: rgba(170, 208, 3, 0.699);
}
/* 3) messagerie */

.messagerie {
  display: flex;
  justify-content: space-between;
  height: 73%;
}

.historique {
  width: 35%;

  border-right: 0.5px solid rgb(234, 236, 240);
}

.conversation {
  width: 65%;

}

.historique > div {
  height: 100%;
  margin: auto;
}

.search-mess {
  height: 90px;
  padding-left: 6%;
  padding-right: 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid rgb(234, 236, 240);
}

.search-mess > input {
  width: 75%;
  border: 0;
  font-size: 18px;
  outline: none;
}

.search-mess > input::placeholder {
  font-size: 15px;
  font-weight: 200;
}

.search-mess > button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  outline: none;
  background-color: #ACD003;
  color: white;
  font-size: 18px;
  border-style: none;
  cursor: pointer;
  transition-duration: 0.4s;
}

.search-mess > button:hover {
  background-color: #c1e808;
}

.mess-list img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.mess-list > div {
  display: flex;
  align-items: center;
  height: 80px;
  transition-duration: 0.2s;
  cursor: pointer;
  border-bottom: 0.5px solid rgb(234, 236, 240);
  padding-right: 6%;
  padding-left: 6%;
}

.mess-list > div:hover {
  background-color: #ACD003;
  border-bottom: 0.5px solid #ACD003;
  color: white;
}

.mess-list > div:focus {
  background-color: #ACD003;
  color: white;
}

.mess-list > div p {
  margin: 0;
}

.mess-txt > div {
  display: flex;
  justify-content: space-between;
}

.mess-txt {
  width: 80%;
}

.mess-list {
  height: 440px;
  overflow: scroll;
  margin-bottom: 60px;
}

.mess-txt > p {
  color: rgb(179, 179, 179);
  font-weight: 200;
  font-size: 14px;
}

.conversation {
  width: 65%;
}

.name-convers {
  display: flex;
  background-color: #F5F7FA;
  height: 8%;
  padding-left: 2%;
  align-items: center;
}

.name-convers > div:first-child {
  text-transform: uppercase;
  margin-right: 5px;
  font-weight: 200;
  color: rgb(179, 179, 179);
}

.name-convers > div:last-child {
  font-weight: bold;
}

.convers {
  padding:2%;
  height: 70%;
}

.send-mess {
  height: 17%; 
  display:flex;
}

.send-mess textarea {
  height: 100%;
  width: 100%;
  border: 0;
  outline: none;
  font-size: 15px;
  padding: 2%;
  border-top: 0.5px solid rgb(234, 236, 240);
}

.send-mess textarea::placeholder {
  font-size: 15px;
  font-weight: 200;
}

.mess-recu {
  padding: 6px 10px;
  background-color: #F5F7FA;
  width: fit-content;
  margin-top: 4px;
  border-radius: 5px;
}

.mess-envoi {
  padding: 8px 10px;
  background-color: #ACD003;
  width: fit-content;
  color: white;
  margin-top: 4px;
  border-radius: 5px;
  position: absolute;
    right: 13px;
}

/* 3) outil musical */

.outil {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: auto;
  margin-top: 20px;
}

.outil > div {
  width: 85%;
}

.outil-mus  {
    display: flex;
    align-items: center;
}

.outil-mus > div:first-child {
  width: 25%;
  display: flex;
  justify-content: space-between;
}
.barre-outil {
  height: 3px;
  width: 100%;
  background-color: rgb(234, 236, 240);
}

.ball-outil {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #C802C9;
  position: absolute;
  top: 31px;
}

.outil-mus > div:nth-child(2) {
  width: 50%;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 20px;
}

.outil-mus > div:nth-child(2) > div {
  width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.outil-mus > div:nth-child(2) > div:last-child {
  display: flex;
  justify-content: center;
}

.outil-mus > div:last-child {
  display: flex;
  width: 25%;
}

.outil-mus  i {
  cursor: pointer;
}

.tempo {
  display: flex;
  align-items: center;
  font-size: 11px;
  font-weight: bold;
  margin-top: 8px;
}

.tempo > div:last-child {
  margin-left: 10px;
}

.outil + section {
  margin-top: 20px !important;
}

.outil + section img {
  width: 100%;
  height: auto;
  margin-bottom: 60px;
}

/* ---------------- FILTRES ----------------- */

.filtre {
  height: 200px;
    position: fixed;
    top: 120px;
    width: 730px;
    left: 290px;
    z-index: 1;
    border-radius: 5px;
    background-color: white;
    border: 0.5px solid lightgray;
  display: none; /*GERER EN JS */
}

/* GERER EN JS */
.filtre-sortie {
  display: none;
}

.filtre-genre {
  display:none !important;
}

.filtre-top {
  display: none;
}

.filtre-mood{
 display: none !important;
}

.filtre-instru {
  display: none;
}

.filtre > div {
  padding: 10px;
}

.filtre ul li {
  padding-bottom: 14px;
  font-size: 14px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.filtre ul li:hover {
  color: #C802C9;
}

.filtre-genre > div {
  width : 32%;
}

.filtre-genre > div > div {
  padding-bottom: 14px;
}

.filtre-genre {
  display: flex;
  font-size: 14px;
}

.filtre-mood {
  display: flex;
  font-size: 14px;
}

.filtre-mood > div {
  width : 50%;
}

.filtre-mood > div > div {
  padding-bottom: 14px;
}

.filtre-instru {
  display: flex;
  font-size: 14px;
}

.filtre-instru > div {
  width : 32%;
}

.filtre-instru > div > div {
  padding-bottom: 14px;
}

/* ---------------- MESSAGES DE CONFIRMATION ----------------- */

.confirmOk, .confirmNok{
display:flex;
justify-content: center;
}


.confirmOk > div{
background-color:#408af9;
color:white;
padding:10px;
border-radius:5px;
display:inline-block;
margin-bottom: 20px;
}

.confirmNok > div{
background-color:#408af9;
color:white;
padding:10px;
border-radius:5px;
display:inline-block;
margin-bottom: 20px;
}

/* -------------------- PAGE : CONNEXION -------------------- */

.connexion {
  background-color: rgba(255, 255, 255, 0.84);
  display: flex;
  /*flex-direction: column;*/
  justify-content: center;
  align-items: center;
}

.connexion > div:first-child {
  height: 260px;
  background-color: white;
  box-shadow: 0px 0px 10px #c1c1c1;
  border-radius: 5px;
}

.title-co {
  font-size: 16px;
  font-weight: bold;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.connexion > div:first-child > div:last-child {
  display: flex;
  width: 550px;
  
}

.connexion > div:first-child > div:last-child > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  height: 170px;
}

.connexion-left {
  border-right: 1px solid rgb(234, 236, 240);
  justify-content: space-between;
}

.connexion-left form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
}

.connexion-left input {
  border: 0;
  border-bottom: 1px solid black;
  width: 100%;
  height: 28px;
  outline: none;
}

.connexion-left input:focus {
  border-bottom: 1px solid #C802C9;
}

.connexion-left input:last-child {
  margin-top: 20px;
}

.connexion-left input::placeholder {
  font-size: 12px;
  color: black;
}

.connexion-left > form > a:nth-child(2) {
  width: 80%;
  font-size: 12px;
  color: black;
  transition-duration: 0.4s;
}

.connexion-left > form > a:nth-child(2):hover {
  color:#C802C9;
}

.connexion-right > a {
  width: 80%;
}

.connexion-right a button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  color: white;
  border: 0;
  font-size: 12px;
  cursor: pointer;
  outline: none;
  box-shadow: 1px 3px 6px #c1c1c1;
  transition-duration: 0.4s;
}

.connexion-right a:first-child button {
  background-color: #3b5998;
}

.connexion-right a:first-child button:hover {
  background-color: #3861b5;
}

.connexion-right a:nth-child(2) button {
  margin-top: 12px;
  background-color: #d34836;
}

.connexion-right a:nth-child(2) button:hover {
  background-color: #e4503d;
}

.connexion-right div:last-child, .connexion-right div:nth-child(3) {
font-size: 12px;
margin-top: 18px;
color: black;
width: 80%;
display:flex;
}

.connexion-right div:last-child a, .connexion-right div:nth-child(3) a {
  color: #C802C9;
  font-weight: bold;
}

/* -------------------- PAGE : INSCRIPTION -------------------- */

.inscription {
  background:url("../img/home.png");
  /*background-color: rgba(255, 255, 255, 0.84);*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inscription main {
  width: 30%;
  height: 400px;
  background-color: white;
  box-shadow: 0px 0px 10px #c1c1c1;
  border-radius: 5px;
}

.inscription form {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.inscription main > div {
  width: 80%;
  margin: auto;
}

.inscription main > a {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.inscription input {
  height: 30px;
  outline: none;
  border: 0;
  border-bottom: 1px solid black;
}

.inscription input:focus {
  border-bottom: 1Px solid #C802C9;
}
.inscription input::placeholder {
  color: black;
  font-size: 12px;
}

.margin-insc {
  margin-top: 20px;
}

.inscription-choice {
  height: 100px;
  display: flex;
  align-items: center;
}

.inscription-choice > button {
  display: flex;
  align-items: center;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  transition-duration: 0.4s;
}

.circle {
  background-color: red;
  height: 50px;
  width: 52px;
  border-radius: 50%;
  margin-right: 10px;
  transition-duration: 0.4s;
}

.circle + div {
  font-size: 13px;
  text-align: left;
}

#circle-img1 {
  background: url(../img/musicien-icon.png);
  background-position: center;
  background-size: cover;
  filter: grayscale(100%);
}

#circle-img2 {
  background: url(../img/melomane-icon.png);
  background-position: center;
  background-size: cover;
  filter: grayscale(100%);
}

.inscription-choice > button:hover {
  color: #C802C9;
}

.inscription-choice > button:focus {
  color: #C802C9;
}

.inscription-choice > button:hover #circle-img1 {
  filter: none;
}

.inscription-choice > button:focus #circle-img1 {
  filter: none;
}

.inscription-choice > button:hover #circle-img2 {
  filter: none;
}

.inscription-choice > button:focus #circle-img2 {
  filter: none;
}

/* DIV INSCRIPTION / CONNEXION */

#login{
overflow: hidden;
z-index:9999;
position:fixed;
border-radius:10px;
}

#opacity{
width:100%;
height: 100vh;
z-index:9998;
background:rgba(0,0,0,0.8);
position:fixed;
display:none;
}

#loginDiv{
width:100%;
height: 100vh;
display:none;
justify-content: center;
align-items:center;
position:absolute;
}

/* ASCENSEURS */
